.array-typewriter-letter {
    display: inline-block;
    white-space: pre;
}

@keyframes blink {
    0%,
    66% {
        opacity: 1;
    }
    67%,
    100% {
        opacity: 0;
    }
}

.array-typewriter-progress {
    display: inline-block;
    animation: blink 1.5s step-start infinite;
    font-size: 2rem;
}
