.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    padding: 4px 8px;
    min-height: 32px;
    min-width: 32px;

    position: relative;

    color: var(--foreground);
    background-color: var(--background-4);
    border-radius: 12px;
    border: transparent;
    cursor: pointer;
    transition: 0.15s;
}

.button:hover {
    background-color: var(--background-6);
}

.button:active {
    background-color: var(--background-8);
    color: var(--foreground-last);
}

.button-disabled {
    pointer-events: none;
    transition: 0.3s;
    opacity: 0.4;
}
