.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    padding: 4px;
    min-height: 32px;
    min-width: 32px;

    color: var(--foreground);
    background-color: var(--background-4-transparent);
    border-radius: 16px;
    border: transparent;
    cursor: pointer;
    transition: 0.15s;
}

.button:hover {
    background-color: var(--background-5-transparent);
}

.button:active {
    color: var(--foreground-last);
}

.button-disabled {
    transition: 0.15s;
    color: var(--background-6) !important;
    background-color: var(--background-3-transparent) !important;
    cursor: not-allowed !important;
}