.list-button {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-width: 128px;
    background-color: var(--background-4-transparent);
    overflow: hidden;
    backdrop-filter: blur(8px);
}

.list-button button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 0.15s;
    padding: 1rem;
}

.list-button button:hover {
    background-color: var(--background-4-transparent);
}

/* topbar */
.list-button-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.list-button-top span {
    cursor: default;
}