.list-button {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-width: 128px;
    background-color: var(--background-4-transparent);
    overflow: hidden;
    backdrop-filter: blur(8px);
}

.list-button button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 0.15s;
    padding: 1rem;
    height: 100%;
    position: relative;
}

.list-button button:hover {
    background-color: var(--background-4-transparent);
}

/* topbar */
.list-button-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.list-button-top span {
    cursor: default;
}

.list-button-top-element {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.list-button-top-element span {
    display: inline-flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

.list-button-hotkey {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
}