.github-form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    min-height: 48px;
}

.github-form-element-button {
    background-color: var(--background);
}

.github-form-p-name {
    color: var(--foreground-last);
}
