.toggle-button {
    display: flex;
    align-items: center;
    border: transparent;
    cursor: pointer;
    padding: 4px;
    width: 48px;
    height: 24px;
    border-radius: 20px;
    background-color: var(--button-darker);
    position: relative;
}

.toggle-button-circle {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: var(--button-dark);
}

.toggle-button-image {
    position: absolute;
    left: 12%;
    width: 12px;
    height: 12px;
    filter: invert(0.3);
}