.toggle-button {
    display: flex;
    align-items: center;
    border: transparent;
    cursor: pointer;
    padding: 4px;
    width: 48px;
    height: 24px;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.2);
    position: relative;
}

.toggle-button:hover {
    background-color: rgba(0, 0, 255, 0.25);
}

.toggle-button:active {
    background-color: rgba(0, 0, 255, 0.4);
}

.toggle-button-circle {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.6);
}

.toggle-button-image {
    position: absolute;
    left: 12%;
    width: 12px;
    height: 12px;
    filter: invert(0.3);
}