.footer-popup {
    display: grid;
    place-items: center;
    position: absolute;
    height: 48px;
    min-width: 48px;
    border-radius: 20px;
    background: var(--background-4-transparent);
    color: var(--foreground-prelast);
    padding: 0.5rem 1rem;
}