footer {
    width: 100%;
    height: 96px;
    padding: 1rem;
    z-index: 2;
    margin-top: 4rem;

    background: var(--background);
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 1rem;

    background: linear-gradient(35deg, var(--background-2-transparent), var(--background-transparent));
    border-radius: 20px;
    backdrop-filter: blur(4px);
}

footer img {
    width: 32px;
    height: 32px;
    filter: invert(var(--footer-invert)) grayscale(1);
}

@media (max-width: 640px) {
    footer img {
        width: 32px;
        height: 32px;
    }
}