.footer-popup {
    display: grid;
    place-items: center;
    position: absolute;
    min-height: 48px;
    min-width: 48px;
    padding: 0.5rem;

    border-radius: 20px;
    background: var(--background-4-transparent);
    color: var(--foreground-prelast);
    backdrop-filter: blur(4px);
    text-align: center;
}