/* container */
.ui-input {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    border: 2px solid var(--background-7);
    border-radius: 12px;
    position: relative;
    height: 36px;
}

.ui-input:focus-within {
    border: 2px solid hsl(225, 82%, 56%);
    outline: transparent;
}

/* input element within */
.ui-input input:focus {
    outline: transparent;
}

.ui-input:hover input {
    color: var(--foreground-last);
}

.ui-input input {
    width: 100%;
    height: 100%;
}

/* buttons */
.ui-input .ui-input-clear-button {
    position: absolute;
    right: 0.4rem;
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 8px;
}

/* hotkeys */
.search-hotkey {
    position: absolute;
    right: 0.6rem;
}

/* images */
.ui-input .ui-input-search-image {
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(0.5);
    width: 28px;
    height: 28px;
    pointer-events: none;
}   

/* validity */
.ui-input-valid {
    border: 2px solid hsl(225, 82%, 56%);

}

.ui-input-invalid {
    border: 2px solid #ff4d4f !important;
}