.ui-input {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    border: 2px solid var(--background-7);
    border-radius: 12px;
    position: relative;
    height: 36px;
}

.ui-input:focus {
    border: 2px solid hsl(225, 82%, 56%);
    outline: transparent;
}

.ui-input:hover {
    color: var(--foreground-last);
}