.github-repository {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.github-repository-topline {
    display: flex;
    justify-content: space-between;
}

.github-repository-topline-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.github-repository-topline-info-2 {
    display: flex;
    gap: 0.5rem;
}


@media (max-width: 640px) {
    .github-repository-topline {
        flex-direction: column;
        gap: 1rem;
    }

    .github-repository-topline-info {
        justify-content: space-between;
    }

    .github-repository-topline-info-2 {
        justify-content: space-between;
    }

    .github-repository-topline-info-2 > button {
        flex: 1;
    }
}




/* actual repository */
.github-forms {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 400px;
    border: 1px solid var(--background-7);
    border-radius: 8px;
}

.github-forms > * {
    border-bottom: 1px solid var(--background-7);
}

.github-forms .github-heading-avatar {
    width: 24px;
    height: 24px;
}

.github-forms-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    min-height: 36px;
}

@media (max-width: 640px) {
    .github-forms-info {
        flex-direction: column;
    }

    .github-forms-info > div {
        justify-content: space-between;
    }
}

.github-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 36px;
}

.github-form-tag {
    border: 1px solid var(--background-7);
    padding: 0.3rem;
    border-radius: 8px;
}

.github-form-p-name {
    color: var(--foreground-last);
}

.github-form-edit {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    border: 1px solid var(--background-7);
    border-radius: 8px;
}
