.github-repository-topline {
    display: flex;
    justify-content: space-between;
}

.github-repository-topline-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.github-repository-topline-info-2 {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .github-repository-topline {
        flex-direction: column;
        gap: 1rem;
    }

    .github-repository-topline-info {
        justify-content: space-between;
    }

    .github-repository-topline-info-2 {
        justify-content: space-between;
    }

    .github-repository-topline-info-2 > button {
        flex: 1;
    }
}
