.github-commits {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 400px;
    border: 1px solid var(--background-7);
    border-radius: 8px;
}


/* topline */
.github-commits-topline {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    min-height: 48px;
    border-bottom: 1px solid var(--background-7);
}


/* main */
.github-commits-main {
    display: flex;
    flex-direction: column;
}

