.github-commit-view {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--background-7);
    border-radius: 8px;
    overflow: hidden;
}

/* topline */
.github-commit-view-topline {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0.5rem 1rem;
    gap: 0.5rem;

    border-bottom: 1px solid var(--background-7);
    background-color: var(--background-3);
}

/* main */
.github-commit-view-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
}

.github-commit-view-main-field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;

    border: 1px solid var(--background-7);
    border-radius: 8px;
}