/* description */
.github-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
}

@media (max-width: 1024px) {
    .github-description {
        width: 100%;
    }
}

.github-description-topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* section inside description */
.github-description-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.github-description-topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.github-description-topics > div {
    flex: 1;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid var(--background-7);
    text-align: center;
}

.github-description-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-description-numbers button {
    min-width: 24px;
    min-height: 24px;
}