/* heading */
.github-heading {
    display: flex;
    justify-content: space-between;
}

.github-heading-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 640px) {
    .github-heading {
        flex-direction: column;
        gap: 1rem;
    }

    .github-heading-buttons {
        justify-content: space-between;
    }

    .github-heading-buttons > button {
        width: 100%;
    }
}

.github-heading-avatar {
    border-radius: 1000px;
    background-color: var(--foreground-last);
    height: 30px;
    width: 30px;
}
