.github-form-edit {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--background-7);
    border-radius: 8px;
    overflow: hidden;
}

/* topline */
.github-form-edit-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    padding: 0.5rem 1rem;

    border-bottom: 1px solid var(--background-7);
    background-color: var(--background-3);
}

.github-form-edit-topline-tags {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

@media (max-width: 640px) {
    .github-form-edit-topline {
        flex-direction: column;
    }

    .github-form-edit-topline > div {
        width: 100%;
    }

    .github-form-edit-topline-tags {
        justify-content: flex-end;
    }
}

/* main */
.github-form-edit-main {
    padding: 1rem;
}

.github-form-edit-main form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.github-form-edit-main-field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;

    border-radius: 8px;
    border: 1px solid var(--background-7);
}

.github-form-edit-main-field-wrapper {
    width: 100%;
}

.github-form-edit-main textarea,
.github-form-edit-main input {
    color: var(--background-12);
    min-height: 24px;
    max-height: 300px;
    width: 100%;
}

.github-form-edit-main textarea:focus,
.github-form-edit-main input:focus {
    border: transparent;
    outline: transparent;
}

/* message field exclusion */
.github-form-edit-main-message-field {
    flex: 1;
}

.github-form-edit-main-message-field textarea {
    min-height: 200px;
    max-height: 600px;
}

/* input / textarea validation */
.github-form-edit-main-field:has(input:invalid),
.github-form-edit-main-field:has(textarea:invalid) {
    outline: 1px solid #ff4d4f;
}

.github-form-edit-main-field:has(input:valid),
.github-form-edit-main-field:has(textarea:valid) {
    outline: 1px solid hsl(225, 82%, 56%);
}

/* bottom */
.github-form-edit-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    min-height: 48px;
    padding: 0.5rem 1rem;

    border-top: 1px solid var(--background-7);
}