.github-forms {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 400px;
    border: 1px solid var(--background-7);
    border-radius: 8px;
}

.github-forms > * {
    border-bottom: 1px solid var(--background-7);
}

.github-forms .github-heading-avatar {
    width: 24px;
    height: 24px;
}

.github-forms-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    min-height: 48px;
}

@media (max-width: 640px) {
    .github-forms-info {
        flex-direction: column;
        gap: 0.5rem;
    }
}



