.github-form-edit {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    border: 1px solid var(--background-7);
    border-radius: 8px;
    overflow: hidden;
}

.github-form-edit > div {
    padding: 0.5rem 1rem;
}

/* topline */
.github-form-edit-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;

    border-bottom: 1px solid var(--background-7);
    background-color: var(--background-3);
}

.github-form-edit-topline-tags {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

@media (max-width: 640px) {
    .github-form-edit-topline {
        flex-direction: column;
    }

    .github-form-edit-topline > div {
        width: 100%;
    }

    .github-form-edit-topline-tags {
        justify-content: flex-end;
    }
}

/* main */
.github-form-edit-main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    flex: 1;
}

.github-form-edit-main-field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--background-7);
}

.github-form-edit-main textarea {
    color: var(--background-12);
    min-height: 24px;
    max-height: 300px;
}

.github-form-edit-main textarea:focus {
    border: transparent;
    outline: transparent;
}

.github-form-edit-main-message-field {
    flex: 1;
}

.github-form-edit-main-message-field textarea {
    min-height: 300px;
    max-height: 600px;
}

/* bottom */
.github-form-edit-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    min-height: 48px;

    border-top: 1px solid var(--background-7);
}