.github {
    display: flex;
    flex-direction: column;
    gap: 1rem;   

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 500px;
    padding: 1.2rem;
}

@media (max-width: 640px) {
    .github {
        padding: 0.5rem;
    }
}

/* topline with mac buttons and tutorial button */
.github-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

/* mac buttons */
.github-mac-buttons {
    display: flex;
    gap: 0.7rem;
}

.github-mac-buttons > div {
    display: grid;
    place-items: center;

    border-radius: 1000px;
    width: 16px;
    height: 16px;
}

/* global styles */
.github hr {
    width: 100%;
    margin: 0;
}

.github button {
    border-radius: 8px;
    border: 1px solid var(--background-7);
    min-width: 64px;
}

.github .github-cancel-button {
    min-width: 28px;
    min-height: 28px;
    width: 28px;
    height: 28px;
}

.github-tiny-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.2rem 0.4rem;
    
    border: 1px solid var(--background-7);
    border-radius: 32px;
}

.github-img {
    width: 20px;
    height: 20px;
    filter: invert(0.5);
}



/* styles */
.github-flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.github-flex-between {
    display: flex;
    justify-content: space-between;
}

/* repository main container */
.github-main {
    display: flex;
    flex: 1;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .github-main {
        flex-direction: column-reverse;
        gap: 4rem;
    }
}