/* ui wrapper container  */
.paint-ui-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

/* left bar */
.paint-ui-left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    border-radius: 16px;
    width: 72px;

    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--background-3-transparent);
    backdrop-filter: blur(2px);
}

@media (max-width: 768px) {
    .paint-ui-left-bar {
        left: 0;
        width: 64px;
    }
}

.paint-ui-left-bar hr {
    border: 1px solid var(--background-4);
    margin: 0;
    transition: 0.75s;
    border-radius: 640px;
}

/* bottom bar */
.paint-ui-bottom-bar {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    height: 48px;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--background-3-transparent);
    backdrop-filter: blur(2px);
}

@media (max-width: 768px) {
    .paint-ui-bottom-bar {
        bottom: 0rem;
    }
}

/* hotkeys */
@media (max-width: 768px) {
    .paint-ui-hotkey {
        display: none;
    }
}

/* labels */
.paint-ui-container label {
    font-size: 0.7rem;
    text-align: center;
}

/* all buttons */
.paint-ui-container button {
    pointer-events: all;
    transition: 0.3s;
    border-radius: 10px;
}

.paint-ui-container input {
    width: 100%;
    pointer-events: all;
}

/* color button */
.paint-ui-color-button {
    padding: 0.3rem;
    width: 32px;
    height: 32px;
}

.paint-ui-selected-color-button {
    background-color: var(--background-7) !important;
}

/* color circle inside button */
.paint-ui-color-button > div {
    width: 20px;
    height: 20px;
    border-radius: 1000px;
}

.paint-ui-color-button-theme::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/brush.svg');
    background-size: cover;
    background-position: center;
    filter: invert(0.5);
}

.paint-ui-color-button-eraser::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/eraser.svg');
    background-size: cover;
    background-position: center;
    filter: invert(0.5);
}

.paint-ui-selected-hr {
    border: 1px solid var(--foreground-last) !important;
}

.paint-ui-vertical-hr {
    margin: 0 !important;
    width: 1px;
    height: 100%;
    border: none;
    background-color: var(--background-4);
    border-radius: 640px;
}
