.paint-container {
    display: grid;
    place-items: center;

    position: relative;
    width: 100%;
    min-height: 600px;

    border-radius: 64px;
    overflow: hidden;
    background-color: var(--background-2);
}

.paint-container canvas {
    touch-action: none;
    height: 100%;
    width: 100%;
}
