/* ui wrapper container  */
.paint-ui-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

/* left bar */
.paint-ui-left-bar {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    border-radius: 32px;

    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    background-color: var(--background-3-transparent);
}

.paint-ui-left-bar hr {
    border: 1px solid var(--background-7);
    margin: 0;
    transition: 0.75s;
    border-radius: 640px;
}

/* bottom bar */
.paint-ui-bottom-bar {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 32px;
    height: 48px;
    
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--background-3-transparent);
}

/* hotkeys */
/* .paint-ui-left-bar-previous-hotkey {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.paint-ui-left-bar-next-hotkey {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
} */

/* all buttons */
.paint-ui-container button {
    pointer-events: all;
    transition: 0s;
}

/* color button */
.paint-ui-color-button {
    padding: 0.3rem;
    border-radius: 1000px;
}

.paint-ui-selected-color-button {
    background-color: var(--background-7) !important;
}

/* color circle inside button */
.paint-ui-color-button > div {
    width: 16px;
    height: 16px;
    border-radius: 1000px;
}

.paint-ui-color-button-theme {
    background-color: var(--foreground-last) !important;
}

.paint-ui-selected-hr {
    border: 1px solid var(--foreground-last) !important;
}

.paint-ui-vertical-hr {
    margin: 0 !important;
    width: 1px;
    height: 100%;
    border: none;
    background-color: var(--background-7);
    border-radius: 640px;
}