.scroll-button-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
}

@media (max-width: 768px) {
    .scroll-button-container {
        bottom: 4rem;
        right: 2rem;
    }
}

.scroll-button-container button {
    border-radius: 20px;
    min-height: 48px;
    min-width: 48px;
    color: var(--foreground);
    background-color: var(--background-4-transparent);
}