.scroll-button-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
}

.scroll-button-container button {
    border-radius: 16px;
    min-height: 42px;
    min-width: 42px;
    color: var(--button-dark);
    background-color: var(--button-darker);
}

.scroll-button-container button:hover {
    background-color: var(--button-dark);
    color: var(--background);
}