.scroll-button-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
}

.scroll-button-container button {
    border-radius: 20px;
    min-height: 48px;
    min-width: 48px;
    color: var(--foreground);
    background-color: var(--background-4-transparent);
}

.scroll-button-container button:hover {
    background-color: var(--background-5);
}