header {
    display: flex;
    align-items: center;
    gap: 2rem;

    position: fixed;
    top: 0;
    left: 50%;

    width: 100%;
    padding: 1rem;

    z-index: 2;
}

@media (max-width: 640px) {
    header {
        width: 100%;
    }
}

header > nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 750px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 64px;

    border-radius: 20px;
    backdrop-filter: blur(8px);
}

@media (max-width: 640px) {
    header > nav > * {
        width: 30%;
    }
}

header .header-open-menu {
    background-color: transparent;
    transition: 0s;
    text-align: right;
}

header .header-open-menu:hover {
    background-color: transparent;
    color: var(--foreground-last);
}

header .home-button {
    margin-right: auto;
}

@media (max-width: 640px) {
    header .home-button {
        margin-right: 0;
    }
}

header .header-launch-app {
    background-color: var(--button-app-fill);
}

header .header-launch-app:hover {
    background-color: var(--button-app-hover);
}