header {
    position: sticky;
    top: 0;
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;

    z-index: 2;
}

@media (max-width: 640px) {
    header {
        width: 100%;
    }
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 64px;

    border-radius: 20px;
    backdrop-filter: blur(8px);
}
