/* header container */
header {
    display: flex;
    align-items: center;
    gap: 2rem;

    position: fixed;
    top: 0;
    left: 50%;

    width: 100%;
    padding: 1rem;

    z-index: 2;
    pointer-events: none;
}

@media (max-width: 640px) {
    header {
        width: 100%;
    }
}

/* nav with all the content */
header > nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 750px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 64px;

    border-radius: 20px;
    backdrop-filter: blur(8px);
    background: var(--background-fulltransparent);
    pointer-events: all;

}

/* mobile button to show the menu */
header .header-open-menu {
    background-color: transparent;
    transition: 0s;
    text-align: right;
}

header .header-open-menu:hover {
    background-color: transparent;
    color: var(--foreground-last);
}

/* home button + img */
header .home-button {
    display: flex;
    align-items: center;
}

@media (max-width: 640px) {
    header .home-button {
        margin-right: 0;
    }
}

header .home-button img {
    width: 24px;
    height: 24px;
    transition: transform 1s;
    filter: invert(0.5);
}

header .home-button img:hover {
    transform: rotate(180deg);
}

header .home-button:hover img {
    filter: invert(var(--header-invert));
}

/* big buttons */
.header-big-button {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #fff !important;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.header-big-button img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.header-big-button:hover {
    transform: scale(1.05);
}


.header-forge-button {
    background: linear-gradient(193deg, rgb(2, 2, 158), rgb(39, 39, 240));
}

.header-stellar-button {
    background: linear-gradient(13deg, rgb(2, 2, 158), rgb(39, 39, 240));
}

.header-github-button {
    background: linear-gradient(105deg, hsl(240, 18%, 21%), hsl(240, 17%, 45%));
}




/* styles */
header .universal-link:hover, header .universal-link:active {
    color: var(--header-link);
}

header a {
    height: 100%;
    display: grid;
    place-items: center;
}