.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    inset: 0;
    z-index: 1000;
    padding: 1rem;
    gap: 1rem;
}

.header-menu * {
    font-size: 1rem;
}

/* big buttons */
.header-menu .header-big-button img {
    width: 32px;
    height: 32px;
}

.header-menu > * {
    padding: 1rem !important;
    height: 80px !important;
    width: 100% !important;
    border-radius: 24px !important;
    text-align: center;
}
