.forge-blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.forge-blocks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 640px) {
    .forge-blocks {
        justify-content: space-between;
    }
}