.forge-block {
    position: relative;

    width: 15%;
    aspect-ratio: 1/1;
    
    border: 2px dashed var(--background-5);
    border-radius: 16px;
    background-color: var(--background-transparent);
    transition: border-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
    overflow: hidden;
    padding: 0;
}

@media (max-width: 640px) {
    .forge-block {
        width: 22vw;
    }
}

.forge-block:hover {
    background-color: var(--background-2-transparent);
    border-color: var(--background-10);
}

.forge-block:active {
    background-color: var(--background-3-transparent);
}

/* states */
.forge-block-selected {
    border-color: #00f !important;
    border-radius: 64px;
}

/* decorative */
.forge-block-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    white-space: nowrap;
}

.forge-block-emoji {
    position: absolute;

    font-size: clamp(0px, 12vw, 175px);
    opacity: 0.1;
}

.forge-block-number-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
}
