.forge-ui-overlay-block {
    position: relative;

    width: 5rem;
    aspect-ratio: 1/1;

    border-radius: 16px;
    border: 2px dashed;
    border-color: transparent;
    background-color: var(--background-transparent);
    transition: all 0.3s, border-color 0.7s ease-in-out,
        border-radius 0.7s ease-in-out;
}

@media (max-width: 640px) {
    .forge-ui-overlay-block {
        width: 14vw;
    }
}

.forge-ui-overlay-block:hover {
    background-color: var(--background-2-transparent);
}

.forge-ui-overlay-block:active {
    background-color: var(--background-3-transparent);
}

/* states */
.forge-ui-overlay-block-selected {
    background-color: var(--background-3-transparent) !important;
    border-color: #00f !important;
    border-radius: 24px;
}

.forge-ui-overlay-block-title {
    padding: 0.5rem;
    border-radius: 6px;
    background-color: var(--background-2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    white-space: nowrap;
}

.forge-ui-overlay-number-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.2rem;
}
