.forge-ui-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.forge-ui-overlay * {
    pointer-events: all;
}



.forge-ui-overlay-fullscreen {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
