.stellar-button {
    padding: 1.5rem;

    font-size: 1rem;

    border-radius: 2000px;
    background-color: var(--background-3-transparent);
    transition: 0.15s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .stellar-button {
        padding: 1rem;
    }
}

.stellar-button-deactivated {
    color: var(--background-8) !important;
    pointer-events: none;
}

.stellar-button:hover {
    color: var(--foreground-last);
}

.stellar-ui-previous-button {
    position: absolute;
    left: 1rem;
    top: 50%;
}

.stellar-ui-next-button {
    position: absolute;
    right: 1rem;
    top: 50%;
}

.stellar-ui-bottom-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 1rem;
    border-radius: 2000px;
}

@media (max-width: 768px) {
    .stellar-ui-previous-button {
        left: 0.5rem;
    }

    .stellar-ui-next-button {
        right: 0.5rem;
    }

    .stellar-ui-bottom-bar {
        bottom: 0.5rem;
    }
}