.stellar-ui-left, .stellar-ui-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    min-height: 400px;
    width: 300px;
    
    position: fixed;
    top: 50%;
    
    border-radius: 20px;
    background-color: var(--background-4-transparent);
}

.stellar-ui-left {
    left: 2rem;
}

.stellar-ui-right {
    right: 2rem;
}