.stellar-button {
    padding: 1.5rem;
    
    position: absolute;
    font-size: 1rem;
    
    border-radius: 200px;
    background-color: var(--background-3-transparent);
    transition: 0.15s;
    cursor: pointer;
}

.stellar-button:hover {
    color: var(--foreground-last);
}

.stellar-ui-previous {
    left: 0.5rem;
    top: 50%;
}

.stellar-ui-next {
    right: 0.5rem;
    top: 50%;
}

.stellar-ui-back {
    left: 50%;
    bottom: 0.5rem;
}