.git-section {
    transform: translateZ(1px);
    margin-top: 30rem !important;
}

@media (max-width: 640px) {
    .git-section {
        margin-top: 18rem !important;
    }
}

.github-container {
    width: 100%;
    background-color: var(--background-2);
    border-radius: 16px;
}