.contact-star-left {
    position: fixed;
    opacity: 0.5;
    width: 2px;
    height: 100%;
    transform-origin: top;

    left: 2rem;
    top: 0;
}

.contact-star-right {
    position: fixed;
    opacity: 0.5;
    width: 2px;
    height: 100%;
    transform-origin: top;

    right: 2rem;
    top: 0;
}

.contact-star-middle {
    position: absolute;
    opacity: 0.5;
    height: 2px;
    width: 100%;
    transform-origin: center;

    top: 2rem;
    left: 0;
}

@media (max-width: 640px) {
    .contact-star-left {
        left: 1rem;
    }

    .contact-star-right {
        right: 1rem;
    }

    .contact-star-middle {
        top: 1rem;
    }   
}