.contact-form {
    border-radius: 50px;
    min-height: 400px;
    width: 100%;
    background: linear-gradient(179deg, var(--background-2-transparent), var(--background-transparent));
    backdrop-filter: blur(4px);
}