.hover-card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 250px;

    border-radius: 30px;
    background-color: var(--background-3-transparent);
    backdrop-filter: blur(4px);
}

@media (max-width: 768px) {
    .hover-card {
        min-width: 200px;
    }
}

.popup {
    z-index: 99;
    position: absolute;
    background-color: var(--background-semitransparent);
}