.hover-card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 250px;

    border-radius: 30px;
    background-color: var(--background-2);
}

.popup {
    z-index: 99;
    position: fixed;
    background-color: blue;
}