.forge-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 100%;
    padding: 0 0.5rem;
}

/* menu expand / collapse button */
.forge-menu-button {
    min-width: 100px;
}

.forge-menu-button:active span {
    transition: 0.3s;
    color: var(--foreground-last);
}

/* menu items */
.forge-menu-items {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    right: 0;
    top: 2.5rem;

    border-radius: 16px;
    border: 1px solid var(--background-7);
    overflow: hidden;
}

/* menu item */
.forge-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    transition: 0.15s;
}

.forge-menu-item:not(:last-child) {
    border-bottom: 1px solid var(--background-7);
}

.forge-menu-item > button {
    background-color: var(--background-2);

    padding: 1.25rem 1rem;
    gap: 1;
    border-radius: 0;
    width: 100%;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .forge-menu-item > button {
        padding: 0.75rem 1rem;
    }
}
