.tooltip {
    display: none;
    min-width: 64px;
    height: 32px;
    padding: 1rem;
    align-items: center;
    white-space: nowrap;

    position: absolute;
    pointer-events: none;

    background-color: var(--background-4-transparent);
    backdrop-filter: blur(16px);
    border-radius: 12px;
    z-index: 1000;
}
