.tooltip {
    display: none;
    min-width: 64px;
    height: 32px;
    padding: 1rem;
    align-items: center;

    position: absolute;
    pointer-events: none;
    
    background-color: var(--background-2-transparent);
    backdrop-filter: blur(16px);
    border-radius: 32px;
}