.staggered-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    position: absolute;
    inset: 0;
    overflow: hidden;
}

.staggered-background-element {
    border: 4px dashed var(--staggered);
}