.heading-section {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    z-index: 1;
}

.heading-section-intro {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.heading-grid {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

@media(max-width: 1340px) {
    .heading-grid {
        flex-direction: column;
    }
}

.heading-showcase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 768px) {
    .heading-showcase-grid {
        display: flex;
        flex-direction: column;
    }
}