/* container */
.popover-create-form {
    min-height: 150px;
}

/* buttons */
.popover-create-button {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}

.popover-create-button-hotkey {
    
}