/* branches searched list */
.popover-branch-branches-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* existing branch button */
.popover-branch-branches-list-button {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

/* create a new branch button */
.popover-branch-branches-create-button {
    display: flex;
    justify-content: flex-start;
    position: relative;
    gap: 0.2rem;
    background-color: transparent;
}

.popover-create-button-hotkey {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}