.sphere-card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;

}

.sphere-card-canvas {
    flex: 1;
}

.sphere-card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sphere-card-hover {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.sphere-card-hover img {
    width: 16px;
    height: 16px;
    filter: invert(0.75);
}