.sphere-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 320px;

    border-radius: 30px;
    background-color: var(--background-2-transparent);
    backdrop-filter: blur(6px);
}

@media (max-width: 1340px) {
    .sphere-card {
        max-width: 100%;
    }
}

.popup {
    z-index: 99;
    position: absolute;
    background-color: var(--background-transparent);
}