.heading-wrapper {
    position: relative;
}

.spotlight-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.heading-section-bgtext {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    max-width: 1400px;
    left: 50%;
    top: 15rem;
    width: 100%;
    transform: translateX(-50%);
}

.heading-section-bgtext * {
    font-size: clamp(0rem, 22vw, 22rem);
    opacity: 0.075;
    font-weight: 900;
    mask-image: linear-gradient(-193deg, #fff, transparent 100%);
}

@media (max-width: 768px) {
    .heading-section-bgtext {
        top: 7rem;
    }

    .heading-section-bgtext * {
        opacity: 0.15;
    }
}
