.interactive-particles-canvas-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.interactive-particles-canvas-container canvas {
    width: 100%;
    height: 100%;
}

.interactive-particles-fps-warning {
    position: absolute;
    padding: 1rem;
    z-index: 1;
    transition: 0.5s;
    border: transparent;
    cursor: pointer;
}

.interactive-particles-fps-warning:hover {
    background-color: var(--background-5);
}

.interactive-particles-fps-warning:active {
    background-color: var(--background-8);
}
