.interactive-particles-canvas-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.interactive-particles-canvas-container canvas {
    width: 100%;
    height: 100%;
}

.interactive-particles-fps-warning {
    position: absolute;
    left: 1rem;
    top: 1rem;
}