.heading-meshes-canvas {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
}

.meshes-bgtext {
    display: grid;
    place-items: center;

    position: absolute;
    max-width: 1400px;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.meshes-bgtext * {
    font-size: clamp(0rem, 22vw, 20rem);
    opacity: 0.075;
    font-weight: 900;
    mask-image: linear-gradient(-193deg, #fff, transparent 100%);
}

@media (max-width: 768px) {
    .meshes-bgtext * {
        opacity: 0.15;
    }
}
