.link-button {
    padding: 6px 8px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
    color: var(--foreground-last);
    transition: 0.2s ease-in-out;
}