.link-button {
    padding: 6px 8px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
    color: var(--foreground-last);
    transition: 0.15s ease-in-out;
}

.link-button:hover {
    filter: brightness(1.05);
}

.link-button:active {
    filter: brightness(1.2);
}
