.horizontal-section {
    height: 400vh;
    gap: 4rem;
}

/* global parent */
.horizontal-lock {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    height: 500px;

    position: sticky;
    top: 6rem;
    overflow-x: hidden;
}

.lock-catalogue {
    flex: 70%;
}

.lock-menu {
    flex: 30%;
}