.horizontal-section {
    height: 400vh;
}

/* global parent */
.horizontal-lock {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    height: 600px;

    position: sticky;
    top: 7rem;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .horizontal-lock {
        top: 5rem;
        gap: 0.5rem;
    }
}

.lock-catalogue {
    flex: 70%;
}

.lock-menu {
    flex: 30%;
}