.sphere-canvas-container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 1250vh;
}

.sphere-canvas-container canvas {
    height: 120vh;
    cursor: move;
}

.sphere-canvas-lock {
    position: sticky;
    margin-top: 30%;
    top: 55%;
    transform: translateY(-50%);
}

.sphere-canvas-text-left, .sphere-canvas-text-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sphere-canvas-text-left {
    left: 2rem;
}

.sphere-canvas-text-right {
    right: 10rem;
}