.sphere-canvas-container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 1250vh;
    margin-top: 12rem;
}

.sphere-canvas-container canvas {
    height: 120vh;
    cursor: move;
}

.sphere-canvas-lock {
    position: sticky;
    margin-top: 30%;
    top: 55%;
    transform: translateY(-50%);
}

@media (max-width: 1024px) {
    .sphere-canvas-lock {
        margin-top: 70%;
    }
}

@media (max-width: 640px) {
    .sphere-canvas-lock {
        margin-top: 100%;
    }
}

.sphere-canvas-typewriter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    padding: 0.5rem 2rem;

    background-color: var(--background-transparent);
    backdrop-filter: blur(4px);
    border-radius: 2000px;
}

.sphere-canvas-heading {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .sphere-canvas-typewriter {
        display: flex;
        justify-content: center;
        align-items: center;
        
        bottom: 20%;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    .sphere-canvas-heading {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 8rem;
    }
}