.question-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.question-section h2 {
    margin-top: 2rem;
}

.question-canvas-wrapper {
    position: absolute;
    inset: 0;
}

.question-default-content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-default-content::after {
    content: '?';
    opacity: 0.1;
    font-size: 30rem;
    line-height: 1;
}

.question-revealed-content {
    align-items: center;
    justify-content: center;
}

.question-revealed-contact-link {
    font-size: 6rem;
    padding: 3rem;
    margin: 3rem;
    border-radius: 100px;
}

.question-revealed-contact-link:hover {
    backdrop-filter: blur(16px);
    background: linear-gradient(17deg, var(--background-transparent), var(--background-3));
}

.question-revealed-contact-link:active {
    background: linear-gradient(317deg, var(--background-transparent), var(--background-5));
}

@media (max-width: 640px) {
    .question-revealed-contact-link {
        font-size: 2rem;
        padding: 2rem;
        margin: 1rem;
    }
}

.question-default-content,
.question-revealed-content {
    display: flex;
    position: absolute;
    text-align: center;
    inset: 0;
    font-size: 5rem;
}

@media (max-width: 640px) {
    .question-default-content,
    .question-revealed-content {
        font-size: 3rem;
    }
}