.shifting-section {
    overflow: hidden;
}

.shifting-section-grid {
    width: 55%;
    margin: 0 auto;

}

@media (max-width: 1024px) {
    .shifting-section-grid {
        width: 75%;
    }
}

@media (max-width: 640px) {
    .shifting-section-grid {
        width: 100%;
    }
}