/* actual grid */
.circle-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    will-change: transform;
}

@media (max-width: 1280px) {
    .circle-grid {
        width: 100%;
    }
}


@media (max-width: 640px) {
    .circle-grid {
        gap: 0.7rem;
    }
}

/* grid element */
.circle-grid > div {
    border-radius: 32px;
    border: 2px dashed var(--background-6);
    aspect-ratio: 1/1;
    overflow: hidden;
    will-change: transform;
}

.circle-grid-element {
    display: grid;
    place-items: center;
    position: relative;
    will-change: transform;
}

.circle-grid .circle-grid-element-selected {
    background: linear-gradient(317deg, #0b0b41, #4141c9);
    border-width: 0;
    border-color: transparent;
}

.circle-grid-dots {
    position: absolute;
    inset: 0;
    background-image: radial-gradient(var(--background-5) 1px, transparent 0);
    background-size: 16px 16px;
    background-position: -64px -64px;
    pointer-events: none;
    opacity: 0.5;
}

.circle-grid .circle-grid-dots-selected {
    background-image: radial-gradient(#fff 1px, transparent 0);
}

/* tooltips / controller */
.circle-grid-controller {
    position: relative;
    padding: 0.5rem;
}

.circle-grid button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 32px;
    min-height: 32px;

    gap: 0.3rem;
    cursor: pointer;
    background-color: var(--background-2);
    transition: 0.15s;
    border-radius: 32px;
}

.circle-grid button:hover {
    background-color: var(--background-3);
}

.circle-grid button:active {
    background-color: var(--background-4);
}

.circle-grid button img {
    filter: invert(0.5);
    width: 16px;
    height: 16px;
    pointer-events: none;
    flex-shrink: 0;
}

.circle-grid .circle-grid-main-button {
    min-height: 48px;
    min-width: 48px;
}

.circle-grid .circle-grid-main-button-selected {
    background-color: transparent;
}
