.circle-grid-nav {
    position: relative;
    border: transparent !important;
    pointer-events: none;
}

.circle-grid-nav button {
    position: absolute;
    min-width: 24px;
    min-height: 24px;
    font-size: 0.6rem;
    color: var(--background-11);
    pointer-events: all;
}
