.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 32px;
    background-color: var(--background-transparent);
}

.accordion-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* internal elements */
.accordion-item-open {
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 32px;
}

.accordion-item-open-toggled {
    background-color: var(--background-3-transparent);
}

.accordion-item-open span {
    display: inline-block;
    width: 12px;
}

.accordion-item-open:hover {
    background-color: var(--background-4-transparent);
}

.accordion-item-dropdown {
    padding: 1rem;
    opacity: 0.6;
}