.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 32px;
    background-color: var(--background-transparent);
}

.accordion-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* internal elements */
.accordion-item-open {
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 32px;
}

.accordion-item-open-title {
    display: flex;
    text-align: left;
}

.accordion-item-open-sign {
    display: inline-block;
    width: 16px;
}

.accordion-item-open-toggled {
    background-color: var(--background-3-transparent);
}


.accordion-item-open:hover, .accordion-item-open:active {
    background-color: var(--background-4-transparent);
    border: transparent;
    outline: transparent;
}

.accordion-item-dropdown {
    padding: 1rem;
    color: var(--background-11);
}