.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    
    border-radius: 32px;
    background-color: var(--background);
}

.accordion-item {
    display: flex;
    flex-direction: column;
}

/* tooltip */
.accordion-tooltip {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

@media (max-width: 768px) {
    .accordion .accordion-tooltip {
        display: none;
    }
}

/* button */
.accordion-item-open {
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 32px;
}

.accordion-item-open-title {
    display: flex;
    text-align: left;
}

.accordion-item-open-sign {
    display: inline-block;
    width: 16px;
}

.accordion-item-open-toggled {
    background-color: var(--background-2);
}

.accordion-item-open:hover, .accordion-item-open:active {
    background-color: var(--background-2);
    border: transparent;
    outline: transparent;
}

/* dropdown */
.accordion-item-dropdown {
    padding: 1rem;
    color: var(--background-11);
}