.selected-stellar-ui-left {
    top: 50%;
    left: 8%;
    height: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    border-radius: 20px;
    background-color: var(--background-3-transparent);
}

.selected-stellar-ui-right {
    top: 50%;
    right: 8%;
    height: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    border-radius: 20px;
    background-color: var(--background-3-transparent);
}

.selected-stellar-ui-left h3, .selected-stellar-ui-right h3 {
    font-size: var(--font-h2);
}

/* responsive styling */
@media (max-width: 1024px) {
    .selected-stellar-ui-left {
        left: 4%;
    }
    
    .selected-stellar-ui-right {
        right: 4%;
    }
}

@media (max-width: 768px) {
    .selected-stellar-ui-left {
        top: 4rem;
        left: 2%;
        right: 2%;
        width: 70%;
        height: 150px;
        margin: 0 auto;
    } 
    
    .selected-stellar-ui-right {
        bottom: 4rem;
        top: unset;
        left: 4%;
        right: 4%;
        width: 70%;
        height: 150px;
        margin: 0 auto;
    }

    .selected-stellar-ui-left h3, .selected-stellar-ui-right h3 {
        font-size: var(--font-h3);
    }
}

@media (max-width: 640px) {
    .selected-stellar-ui-left, .selected-stellar-ui-right {
        width: 90%;
    }
}

/* content styling */
.selected-stellar-ui-left > div, .selected-stellar-ui-right > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 0.3rem;
}

/* p array styling */
.selected-stellar-ui-left > div > div, .selected-stellar-ui-right > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}