.selected-stellar-ui-left {
    position: absolute;
    top: 50%;
    left: 8%;
}

.selected-stellar-ui-right {
    position: absolute;
    top: 50%;
    right: 8%;
}

/* responsive styling */
@media (max-width: 1024px) {
    .selected-stellar-ui-left {
        left: 4%;
    }
    
    .selected-stellar-ui-right {
        right: 4%;
    }
}

@media (max-width: 768px) {
    .selected-stellar-ui-left {
        top: 4rem;
        left: 2%;
        right: 2%;
        width: 70%;
        height: 150px;
        margin: 0 auto;
    } 
    
    .selected-stellar-ui-right {
        bottom: 4rem;
        top: unset;
        left: 4%;
        right: 4%;
        width: 70%;
        height: 150px;
        margin: 0 auto;
    }

    .selected-stellar-ui-left h3, .selected-stellar-ui-right h3 {
        font-size: var(--font-h3);
    }
}

@media (max-width: 640px) {
    .selected-stellar-ui-left, .selected-stellar-ui-right {
        width: 90%;
    }
}

