@keyframes waiting {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

.stellar-waiting-border {
    position: absolute;
    inset: 0;
    border: 3px solid var(--background-10);
    pointer-events: none;
    animation: 1s ease-in-out infinite waiting;
}

.stellar-waiting-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6rem;
    
    text-align: center;
    pointer-events: none;
}