.stellar-card {
    height: 180px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--background-3-transparent);
}

/* all inputs */
.stellar-card input {
    padding: 0.3rem;
    border-radius: 8px;
    cursor: text;
}

.stellar-card input:focus {
    outline: solid 2px #66a;
    background-color: #0000001d;
}

/* separate inputs */
.input-h3 {
    font-size: var(--font-h2);
}

/* overall content styling */
.stellar-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 0.3rem;
}

/* p array styling */
.stellar-p-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* image */

.stellar-card-edit-image {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    filter: invert(0.5);
}