.stellar-hover-popup { 
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;   

    position: absolute;
    width: 110px;
    min-height: 150px;

    background-color: var(--background-4-transparent);
    border-radius: 32px;
    pointer-events: none;
}

.stellar-hover-popup-idx {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0.2;
    font-size: 6rem;
}