.stellar-context-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;   

    position: absolute;
    width: 200px;
    min-height: 100px;

    background-color: var(--background-4-transparent);
    border-radius: 32px;
}

.stellar-create-stellar-button {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    border-radius: 12px;
    color: var(--foreground-prelast);
}

.stellar-create-stellar-button img {
    width: 24px;
    height: 24px;
    filter: invert(0.5);
}

.stellar-create-stellar-button:hover {
    color: var(--foreground-prelast);
    background-color: var(--background-4-transparent);
}

.stellar-create-stellar-button:active {
    color: var(--foreground-prelast);
    background-color: var(--background-5-transparent);
}