/* general styles */
.stellar-button {
    position: relative;
    padding: 1.5rem;
    
    font-size: 1rem;

    border-radius: 2000px;
    background-color: var(--background-4-transparent);
    transition: 0.15s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .stellar-button {
        padding: 1rem;
    }
}

.stellar-button:hover {
    color: var(--foreground-last);
    background-color: var(--background-3);
}


.stellar-button-deactivated {
    color: var(--background-8) !important;
    pointer-events: none;
}


/* nav buttons */
.stellar-ui-previous-button {
    position: absolute;
    left: 1rem;
    top: 50%;
}

.stellar-ui-next-button {
    position: absolute;
    right: 1rem;
    top: 50%;
}

/* bottom bar */
.stellar-ui-bottom-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    border-radius: 2000px;
}

@media (max-width: 768px) {
    .stellar-ui-previous-button {
        left: 0.5rem;
    }

    .stellar-ui-next-button {
        right: 0.5rem;
    }

    .stellar-ui-bottom-bar {
        left: 0.5rem;
        right: 0.5rem;
        bottom: 0.5rem;
    }
}

.stellar-ui-bottom-bar-buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}



/* button hotkey tooltip */
.stellar-tooltip {
    display: flex;
    gap: 0.3rem;
    position: absolute;
    justify-content: center;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.stellar-tooltip span {
    color: var(--foreground);
    background-color: var(--background-7);
    min-width: 16px;
    min-height: 16px;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.7rem;
    opacity: 0.4;
}

@media (max-width: 640px) {
    .stellar-tooltip {
        display: none;
    }
}

/* misc buttons */
.stellar-button-regenerate {
    padding: 0.5rem;
}

.stellar-button-regenerate img {
    width: 16px;
    height: 16px;
    filter: invert(0.5);
}