/* general styles */
.stellar-button {
    position: relative;
    padding: 1.5rem;
    
    font-size: 1rem;

    border-radius: 2000px;
    background-color: var(--background-4-transparent);
    transition: 0.15s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .stellar-button {
        padding: 1rem;
    }
}

@media (max-width: 640px) {
    .stellar-button {
        padding: 0.5rem;
    }
}

.stellar-button:hover {
    color: var(--foreground-last);
    background-color: var(--background-3);
}

.stellar-button:active {
    background-color: var(--background-5);
}


.stellar-button-deactivated {
    color: var(--background-8) !important;
    pointer-events: none;
    user-select: none;
}


/* nav buttons */
.stellar-ui-previous-button {
    position: absolute;
    left: 1rem;
    top: 50%;
}

.stellar-ui-next-button {
    position: absolute;
    right: 1rem;
    top: 50%;
}

/* bottom bar */
.stellar-ui-bottom-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    border-radius: 2000px;
}

@media (max-width: 768px) {
    .stellar-ui-previous-button {
        left: 0.5rem;
    }

    .stellar-ui-next-button {
        right: 0.5rem;
    }

    .stellar-ui-bottom-bar {
        left: 0.5rem;
        right: 0.5rem;
        bottom: 0.5rem;
    }
}

@media (max-width: 640px) {
    .stellar-ui-bottom-bar {
        gap: 0.3rem;
    }
}

.stellar-ui-bottom-bar-buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

@media (max-width: 640px) {
    .stellar-ui-bottom-bar-buttons-container {
        gap: 0.3rem;
    }
}

.stellar-ui-bottom-bar-centered-container {
    justify-content: center;
}

.stellar-ui-bottom-bar-right-container {
    justify-content: flex-end;
}



/* button hotkey tooltip */
.stellar-tooltip {
    position: absolute;
    bottom: 0.3rem;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
}

@media (max-width: 640px) {
    .stellar-tooltip {
        display: none;
    }
}

/* misc buttons */
.stellar-button-action {
    padding: 0.5rem;
}

.stellar-button-action img {
    width: 16px;
    height: 16px;
    filter: invert(0.5);
}