.forge-card {
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 16px;
    padding: 0.9rem;
    width: 100%;

    border: 1px solid var(--background-6);
    background-color: var(--background-3);
    border-radius: 16px;
    overflow: hidden;
}

/* progress */
.forge-card-progress {
    position: absolute;
    inset: 0;
    transform-origin: left;
    background-color: var(--background-10);
    transform: scaleX(0);
}