.forge-bonus-effect {
    width: 20vw;
    max-width: 175px;
    aspect-ratio: 1/1;
    border: 2px dashed var(--background-6);
    border-radius: 16px;
    transition: border-color 0.7s;
    position: relative;
}

@media (max-width: 640px) {
    .forge-bonus-effect {
        width: 100%;
    }
}

/* states */
.forge-bonus-effect-not-ready {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: clamp(0px, 12vw, 2rem);
    white-space: nowrap;
    z-index: 1;
}

.forge-bonus-effect-question {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 10rem;
    color: hsla(224, 50%, 30%, 0.2)
}