.forge-effect {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px dashed var(--background-6);
    border-radius: 16px;
    overflow: hidden;
}

/* special hover (while dragging) */
@keyframes hoverPulse {
    0% {
        border-color: var(--background-6);
    }
    100% {
        border-color: #00f;
    }
}

@keyframes hoverBlockedPulse {
    0% {
        border-color: var(--background-6);
    }
    100% {
        border-color: #f00;
    }
}

.forge-effect-hover:hover {
    animation: hoverPulse 0.5s infinite alternate ease-in-out;
}

.forge-effect-hover-blocked:hover {
    cursor: not-allowed;
    animation: hoverBlockedPulse 0.25s infinite alternate ease-in-out;
}


/* sections */
.forge-effect-topline {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 32px;
    border-bottom: 2px dashed var(--background-6);
}

.forge-effect-main {
    flex: 1;
    display: grid;
    place-items: center;
}