.forge-effect {
    width: clamp(0px, 20vw, 150px);
    aspect-ratio: 1/1;
    border: 2px dashed var(--background-6);
    border-radius: 16px;
    transition: border-color 0.7s;
    position: relative;
}

@media (max-width: 640px) {
    .forge-effect {
        width: 100%;
    }
}

.forge-effect-hover:hover {
    border-color: #00f;
}

/* filled state */
.forge-effect-filled {
    border-color: #00f;
}

/* empty container */
.forge-effect-empty {
    position: absolute;
    inset: 0;
    padding: 1rem;
}

.forge-effect-empty-button {
    width: 100%;
    white-space: nowrap;
}

@media (max-width: 640px) {
    .forge-effect-empty {
        padding: 0.3rem;
    }

    .forge-effect-empty-button {
        font-size: 0.7rem;
    }
}

/* sections */
.forge-effect-topline {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    height: 32px;
}

.forge-effect-main {
    flex: 1;
    display: grid;
    place-items: center;
}

.forge-effect-await {
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;
    font-size: 6rem;
    color: var(--background-9);
}
