.progress-bar {
    position: fixed;
    top: 0;
    background: linear-gradient(to right, rgb(99, 99, 255), rgb(1, 1, 169));
    width: 100%;
    height: 2px;
    transform-origin: 0% 0%;
}

.progress-bar-moving-part {
    height: 2px;
    width: 24px;
    background-color: rgb(99, 99, 255);
    mask-image: radial-gradient(circle, black, transparent);
}