/* parent of the actual scrollable part */
.horizontal-content-container {
    position: relative;
    padding: 2rem;

    border: 2px dashed var(--background-8);
    border-radius: 48px;
}

.horizontal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.horizontal-content h3 {
    text-align: left;
}

/* scrollable part */
.horizontal-scroll {
    display: flex;
    width: fit-content;
    gap: 2rem;
}

.horizontal-scroll-container {
    mask-image: linear-gradient(to right, transparent, black 6%), linear-gradient(to left, transparent, black 6%);
    mask-composite: intersect;
}

@media (max-width: 768px) {
    .horizontal-scroll {
        gap: 1rem;
    }
}


.horizontal-scroll-progress {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--background-10), rgb(74, 74, 226));
    transform-origin: left;
}

.catalogue-scroll-tooltip {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    color: var(--background-6);
    pointer-events: none;
    font-size: 0.7rem;
}