/* tailwind */
@import 'tailwindcss';

/* animations  */
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}


/* root variables (dark theme) */
:root {
    /* background */
    --background: rgb(8, 8, 8);
    --background-2: rgb(16, 16, 16);
    --background-3: rgb(24, 24, 24);
    --background-4: rgb(32, 32, 32);
    --background-5: rgb(40, 40, 40);
    --background-6: rgb(48, 48, 48);
    --background-7: rgb(56, 56, 56);
    --background-8: rgb(64, 64, 64);
    --background-9: rgb(72, 72, 72);
    --background-10: rgb(80, 80, 80);

    /* transparent background */
    --background-transparent: rgba(8, 8, 8, 0.4);
    --background-fulltransparent: rgba(8, 8, 8, 0.1);
    --background-semitransparent: rgba(8, 8, 8, 0.75);
    --background-2-transparent: rgba(16, 16, 16, 0.4);
    --background-3-transparent: rgba(24, 24, 24, 0.4);
    --background-4-transparent: rgba(32, 32, 32, 0.4);
    --background-5-transparent: rgba(40, 40, 40, 0.4);

    /* foreground */
    --foreground: #9d9d9d;
    --foreground-prelast: #d2d1d8;
    --foreground-last: #fff;

    /* pseudo & misc */
    --selection: rgb(112, 112, 112);

    /* component specific */
    --button-dark: rgba(0, 0, 255, 0.6);
    --button-darker: rgba(0, 0, 255, 0.2);
    --header-link: #fff;
    --b: 1.3;
    --footer-invert: 0.7;
    --header-invert: 1;
    --form: hsl(240, 8%, 24%);

    --font-h1: 2.6rem;
    --font-h2: 2rem;
    --font-p: 0.8rem;
}

/* root variables (light theme) */
:root[data-theme='light'] {
    /* background */
    --background: rgb(248, 248, 248);
    --background-2: rgb(240, 240, 240);
    --background-3: rgb(232, 232, 232);
    --background-4: rgb(224, 224, 224);
    --background-5: rgb(216, 216, 216);
    --background-6: rgb(208, 208, 208);
    --background-7: rgb(200, 200, 200);
    --background-8: rgb(192, 192, 192);
    --background-9: rgb(184, 184, 184);
    --background-10: rgb(176, 176, 176);

    /* transparent background */
    --background-transparent: rgba(248, 248, 248, 0.4);
    --background-fulltransparent: rgba(186, 186, 186, 0.1);
    --background-semitransparent: rgba(248, 248, 248, 0.75);
    --background-2-transparent: rgba(240, 240, 240, 0.4);
    --background-3-transparent: rgba(232, 232, 232, 0.4);
    --background-4-transparent: rgba(224, 224, 224, 0.4);
    --background-5-transparent: rgba(216, 216, 216, 0.4);

    /* foreground */
    --foreground: #757575;
    --foreground-prelast: #111111;
    --foreground-last: #000000;

    /* pseudo & misc */
    --selection: rgb(112, 112, 112);

    /* component specific */
    --button-app-fill: rgb(39, 78, 220); /* keep accent color */
    --button-app-hover: rgb(27, 57, 165);
    --button-dark: rgba(0, 0, 255, 0.6);
    --button-darker: rgba(0, 0, 255, 0.2);
    --header-link: #0000ff;
    --b: 0.7;
    --footer-invert: 0;
    --header-invert: 0;

    /* font sizes */
    --font-h1: 2.6rem;
    --font-h2: 2rem;
    --font-p: 0.8rem;
}


/* global tags */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    color: var(--foreground);
}

::selection {
    background-color: var(--selection);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

h1 {
    font-size: var(--font-h1);
    color: var(--foreground-last);
}

h2 {
    font-size: var(--font-h2);
    color: var(--foreground-last);
}

h3, h4 {
    color: var(--foreground-prelast);
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

p, span, a, button, input, textarea {
    font-size: var(--font-p);
    color: var(--foreground);
    font-weight: 550;
}

p, span, a, button, input, h1, h2 {
    letter-spacing: -0.39px;
    line-height: 1em;
}

b, i, u, mark {
    all: unset;
}

b {
    filter: brightness(var(--b));
}

i {
    font-style: italic;
}

u {
    text-decoration: underline wavy;
    text-decoration-color: rgb(255, 56, 56);
    text-decoration-thickness: 1px;
}

mark {
    text-decoration: underline;
    text-decoration-color: rgb(56, 66, 255);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

/* utilities */
.container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

@media (max-width: 640px) {
    .container {
        padding: 1rem 0.5rem;
    }
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 1rem;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}