/* root variables */
:root {
    /* background */
    --background: #080808;

    /* foreground */
    --foreground: #9d9d9d;
    --foreground-last: #fff;

    /* pseudo & misc */
    --selection: #5e5e5e;

    /* component specific */
    --button-app-fill: hsla(210, 60%, 70%, 1.00);
    --button-app-hover: hsla(210, 30%, 50%, 1.00);
}

:root[data-theme='light'] {
    --a: '';
}

/* global tags */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

    color: var(--foreground);
}

::selection {
    background-color: var(--selection);
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.6rem;
    color: var(--foreground-last);
}

h2 {
    font-size: 2rem;
    color: var(--foreground-last);
}

p, span, a, button {
    font-size: 0.8rem;
    color: var(--foreground);
    font-weight: 550;
}

p, span, a, button, h1, h2 {
    letter-spacing: -0.39px;
    line-height: 1em;
}

/* utilities */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 1rem;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}