.selector-menu-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--background-8);
    border-radius: 16px;
    overflow: hidden;
    transition: border-color 0.15s;
}

.selector-menu-jsx {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    top: 0;
    left: 0;
    right: 0;
}

.selector-menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-8);
}

.selector-menu-item {
    display: flex;
    position: relative;
    width: 100%;
}

.selector-menu-item > button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0px;
    background-color: transparent;
}

/* selection / underline */
.selector-menu-item-underline {
    position: absolute;
    z-index: 1;
    left: 15%;
    bottom: 0;
    right: 15%;
    height: 2px;
    background: rgb(56, 66, 255);
}

.selector-menu .selector-menu-button-selected {
    background-color: var(--background-4);
}
