.forge {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.forge-image {
    width: 24px;
    height: 24px;
    filter: invert(0.5);
    transition: 1s;
}

.forge-main-container {
    display: flex;
    gap: 4rem;
}

@media (max-width: 1024px) {
    .forge-main-container {
        gap: 2rem;
    }
}