.forge {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* utility classes */
.forge-image {
    width: 24px;
    height: 24px;
    filter: invert(0.5);
}

.forge-image-inverted {
    filter: invert(var(--header-invert));
}

/*  */
.forge-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .forge-main-container {
        height: auto;
        flex-direction: column-reverse;
    }
}

.forge-main-container hr {
    width: 1px;
    height: 500px;
    background-color: var(--hr);
}

@media (max-width: 1024px) {
    .forge-main-container hr {
        width: 100%;
        height: 1px;
    }
}