.hotkey-tooltip {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    user-select: none;
    pointer-events: none;
}

.hotkey-tooltip span {
    color: var(--foreground);
    background-color: var(--background-7);
    text-align: center;
    min-width: 16px;
    min-height: 16px;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.7rem;
    opacity: 0.4;
}

@media (max-width: 768px) {
    .hotkey-tooltip {
        display: none;
    }
}